.team{
    cursor: pointer;
    position: relative;
    left: 0%;
    width: 30%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
    align-self: stretch;
}
.logo{
    position: relative;
    width: 100%;
    height: 100%;
}
.team_list {
    width: 100%;
    display: grid;
    gap: 2.7%;
    grid-template-columns: 18% 18% 18% 18% 18%;
    align-content: center;
}

.team_list_full {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    width: 98%;
}
.more_btn {
    margin-top: 20px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #ce58ca, #e292d5);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Noto Sans', Sans-Serif;
    /* height: 40px; */
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
  }
  
  .more_btn:hover {
    box-shadow: rgba(5, 105, 72, 0.5) 0 3px 8px;
  }