.pages_list{
    display: flex;
    flex-direction: row;
    width:65%;
    position: relative;
    float: left;
    left: 120px;
    top: 0%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0,0,0,.3);
    background-color: rgba(255, 255, 255, 1);
}

.button{
    float: left;
    width: 10%;
}

.pages{
    font-family: 'Noto Sans', Sans-Serif;
    font-size: 20px;
    padding: 1px;
    margin: 2px;
}