.check_btn{
    position: relative;
}
.sub_info{
    background-color: #FFF9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 42%;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 23%;
}
.tg_nick{
    position: relative;
    left: 0%;
    width: 30%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: stretch;
}
.start_date{
    position: relative;
    left: 5%;
    width: 30%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: stretch;
}
.link{
    position: relative;
    left: 10%;
    width: 30%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: stretch;
}

.team_info button{
    cursor: pointer;
    /* font-family: 'Noto Sans', Sans-Serif; */
}
